.second-block-main {
  width: 100%;
}
.panel {
  text-align: center;
  padding-top: 18px;
}
.panel:hover {
  -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
}
.panel-1:hover {
  -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
}
.img-here {
  height: 100%;
  width: 100%;
}
.image-here {
  text-align: center;
}
.image-text {
  color: #999999;
  font-size: 16px;
  font-weight: 600;
  padding: 22px 0 22px 26px;
}
.colum {
  color: #999;
  font-size: 12px;
  font-weight: bold;
  padding-top: 18px;
}
p.colum {
  margin: 0 10px;
}
.icons {
  padding: 22px;
}
.bg-icons {
  background-image: url('../icons/bg.png');
  background-repeat: no-repeat;
  background-position: center;
  height: 81px;
}
